<mat-toolbar class="header mat-elevation-z8">
    <span>
      <a routerLink="/">
        <img src="assets/icon.png" alt="" class="logo">
        <h1>Portifólio TCC</h1>
      </a>
    </span>
    <span class="title-group">
      <h2 class="curriculum-heading">Curriculum de Axel Nascimento</h2>
      <span class="download-box">
        <a href="/assets/curriculos/CurriculoAxelNascimento.pdf">Baixar Curriculum</a>
      </span>
    </span>
  </mat-toolbar>
  <div class="pdf">
    <pdf-viewer class="arquivo" [src]="pdfSrc"
      [render-text]="true"
      [original-size]="false"
      [zoom]="0.8"
      style="display: contents;">
    </pdf-viewer>
  </div>
  