<mat-toolbar class="header mat-elevation-z8">
  <span>
      <a routerLink="/">
          <img src="assets/icon.png" alt="" class="logo">
          <h1>Portifólio TCC
          </h1>
      </a>
      
  </span>
  <span class="title-group">
      <a routerLink="/">
          <i class="material-icons">
              home
          </i>
          Home
      </a>

  </span>
</mat-toolbar>
<div class="conteudos">
<mat-card class="carde">

    <div class="container">
        <div class="titulo">
          <h1>O FUTURO DA COMPUTAÇÃO EM NUVEM ESTÁ AQUI!</h1>
          <p>A computação em nuvem é a entrega de recursos de TI sob demanda por meio da Internet com definição de preço de pagamento conforme o uso. Em vez de comprar, ter e manter datacenters e servidores físicos, você pode acessar serviços de tecnologia, como capacidade computacional, armazenamento e bancos de dados, conforme a necessidade, usando um provedor de nuvem como a Amazon Web Services (AWS).</p>
        </div>
      
        <div class="conteudo mat-elevation-z8">
            <div class="title2 mat-elevation-z4">
                <h1>CONHEÇA A EQUIPE QUE CRIA A PERFEIÇÃO
                <h3>Profissionais formados na <a class="nuvem" href="https://escoladanuvem.org/">Escola da Nuvem☁</a></h3> 
            </h1>
            </div>

          <div class="profissionais">
            <div class="profissional mat-elevation-z7">
              <img class="perfilfoto" routerLink="/curriculo/axel" src="/assets/axel.jpeg" alt="">
              <h2 routerLink="/curriculo/axel">Axel <br> Felix</h2>

              <h4 class="curricul">
                <a routerLink="/curriculo/axel"><strong>Veja meu Currículo</strong></a>
              </h4>
              <div class="redes-sociais">
                <a href="https://www.linkedin.com/in/axel-nascimento-2893bb74" class="linkedin">
                  <img src="/assets/linkedin.png" alt="">
                </a>
           
              </div>
            </div>
          
            <div class="profissional mat-elevation-z4">
              <img routerLink="/curriculo/cid" class="perfilfoto" src="/assets/cid.jpeg" alt="">
              <h2 routerLink="/curriculo/cid">Cid <br>Quintela</h2>
              <h4 class="curricul">
                <a routerLink="/curriculo/cid"><strong>Veja meu Currículo</strong></a>
              </h4>
              <div class="redes-sociais">
                <a href="https://www.linkedin.com/in/cidquintela2931/" class="linkedin">
                  <img src="/assets/linkedin.png" alt="">
                </a>
                <a href="https://github.com/CidQuintela"
                class="github">
                  <img src="/assets/github.png" alt="">
                </a>
              </div>
            </div>
          
          
            <div class="profissional mat-elevation-z4">
              <img routerLink="/curriculo/irineu" class="perfilfoto" src="/assets/irineu.jpeg" alt="">
              <h2 routerLink="/curriculo/irineu">Irineu<br>Evangelista</h2>
              <h4 class="curricul">
                <a routerLink="/curriculo/irineu"><strong>Veja meu Currículo</strong></a>
              </h4>
              <div class="redes-sociais">
                <a href="https://www.linkedin.com/in/irineu-brito/" class="linkedin">
                  <img src="/assets/linkedin.png" alt="">
                </a>
                <a href="https://github.com/irineub" class="github">
                  <img src="/assets/github.png" alt="">
                </a>
              </div>
            </div>
          </div>
        
          <div class="profissionais1">
            <div class="profissional mat-elevation-z4">
              <img routerLink="/curriculo/jeane" class="perfilfoto" src="/assets/jeanne.jpeg" alt="">
              <h2 routerLink="/curriculo/jeane">Jeane <br> Magalhães</h2>
              <h4 class="curricul">
                <a routerLink="/curriculo/jeane"><strong>Veja meu Currículo</strong></a>
              </h4>
              <div class="redes-sociais">
                <a href="https://www.linkedin.com/in/jeane-magalhaes/" class="linkedin">
                  <img src="/assets/linkedin.png" alt="">
                </a>
                <a href="https://github.com/JeaneMagalhaes" class="github">
                  <img src="/assets/github.png" alt="">
                </a>
              </div>
            </div>
            
            <div class="profissional mat-elevation-z4">
              <img routerLink="/curriculo/marcos" class="perfilfoto" src="/assets/marcos.jpeg" alt="">
              <h2 routerLink="/curriculo/marcos">Marcos <br> Aurélio</h2>
              <h4 class="curricul">
                <a routerLink="/curriculo/marcos"><strong>Veja meu Currículo</strong></a>
              </h4>
              <div class="redes-sociais">
                <a href="https://www.linkedin.com/in/marcos-aurelio-bezerra-5b77b5193/" class="linkedin">
                  <img src="/assets/linkedin.png" alt="">
                </a>
                <a href="https://github.com/bezerramarcos" class="github">
                  <img src="/assets/github.png" alt="">
                </a>
              </div>
            </div>
            
            <div class="profissional mat-elevation-z4">
              <img routerLink="/curriculo/samuel" class="perfilfoto" src="/assets/samuel.jpeg" alt="">
              <h2 routerLink="/curriculo/samuel">Samuel<br> Cremonezi</h2>
              <h4 class="curricul">
                <a routerLink="/curriculo/samuel"><strong>Veja meu Currículo</strong></a>
              </h4>
              <div class="redes-sociais">
                <a href="https://www.linkedin.com/in/samuel-cremonezi-75b838231/"
                class="linkedin">
                  <img src="/assets/linkedin.png" alt="">
                </a>
                <a href="https://github.com/SAMUEL-THE-FOUNDER"
                class="github">
                  <img src="/assets/github.png" alt="">
                </a>
              </div>
            </div>
            

        </div>
    </div>
        </div>
      
      
</mat-card>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>